package components

templ Footer(y string) {
    <footer class="bg-gray-800 py-4 mt-8">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; { y } Goshu. All rights reserved.</p>
        </div>
    </footer>
}
